CLIENT_TOKEN = "BOT_TOKEN"
CLIENT_ID = "CLIENT ID"
GUILD_ID = "SUPPORT GUILD ID"
MONGODB_URI = "URI FORM MONGODB (with password)"
IMAGEAPI = "IMAGE API TOKEN"
TTVID = "TWITCH APP ID"
TTVTOKEN = "TWITCH APP TOKEN"
LOGS_WEBHOOK_URL = "URL FOR GENERAL BOT LOGS WEBHOOK"
premlogshook = "URL FOR PREMIUM LOGS WEBHOOK"
SPOTIFY_ID = "SPOTIFY APP ID"
SPOTIFY_SECRET = "SPOTIFY APP SECRET"

# NO NEED TO CHANGE
YTDL_NO_UPDATE = true